.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  font-size: 30px;
  border: none;
  background: none;
}
.ui-pnotify-icon span {
  margin-top: 5px;
}
.ui-pnotify-closer {
  margin-left: .6em;
  font-size: 1.1em;
  position: relative;
  top: -2px;
}
.panel-upload .panel-body {
  padding: 7px !important;
  background-image: url(../images/bg-1.jpg);
  background-size: cover;
  background-position: center;
}
.panel-upload .fileinput-preview {
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 20px #777 inset;
  background: #f0f0f0;
}
.panel-upload .fileinput {
  margin-bottom: 5px;
}
.panel-upload .fileinput .thumbnail > img {
  height: 100%;
}
.panel-default {
  overflow: hidden;
}
.right-normal {
  right: 10px !important;
  opacity: 1 !important;
}
.btn-social {
  position: absolute;
  top: 7px;
  right: -185px;
  z-index: 9999;
  transition: all .5s;
}
.btn-social a {
  color: #fff !important;
  border: none;
  display: inline;
}
.btn-social a:hover,
.btn-social a:focus {
  opacity: 0.9;
}
.btn-social a.facebook {
  background: #3b5998;
}
.btn-social a.facebook:hover,
.btn-social a.facebook:focus {
  background: #3b5998;
}
.btn-social a.twitter {
  background: #00aced;
}
.btn-social a.twitter:hover,
.btn-social a.twitter:focus {
  background: #00aced;
}
.btn-social a.google-plus {
  background: #dd4b39;
}
.btn-social a.google-plus:hover,
.btn-social a.google-plus:focus {
  background: #dd4b39;
}
.btn-social a.pinterest {
  background: #cb2027;
}
.btn-social a.pinterest:hover,
.btn-social a.pinterest:focus {
  background: #cb2027;
}
.btn-social a.btn-social-close {
  background: #111;
}
.facebook-page .fb-page {
  display: inline-block;
}
.posr {
  position: relative;
}
.bd {
  border: 1px solid #000;
}
.mt10 {
  margin-top: 10px;
}
.mb0 {
  margin-bottom: 0;
}
.left-10 {
  margin-left: 10px;
}
.figure-center {
  text-align: center;
  margin: -15px;
}
.figure-center img {
  display: inline-block;
}
.border-top3 {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: 3px solid #0088ff;
}
body {
  background: #fff;
  font-size: 1.4em;
}
blockquote {
  border-left: 5px solid #0088ff;
  background: #fff;
}
strong {
  font-weight: 400;
}
h1 {
  font-weight: 300;
}
.alert h4 {
  font-size: 20px;
}
.bg-3d {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: left;
  z-index: -1;
}
.welcome-home {
  text-align: center;
  padding: 160px 0 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8) inset;
  position: relative;
}
.welcome-home h1 {
  color: #fff;
  margin-top: 30px;
  font-size: 3.2em;
}
.welcome-home .typed-welcome {
  color: #fff !important;
  font-size: 1.5em;
  margin: 10px;
}
.social-header {
  position: absolute;
  right: 20px;
  top: 80px;
  z-index: 999;
}
.social-header span {
  position: relative;
  color: #fff;
  margin-right: 10px;
  top: -1px;
}
.social-header a {
  font-size: 1.3em;
  color: #fff;
  display: inline-block;
  padding: 2px 13px;
  border-radius: 50%;
}
.social-header .fb {
  background: #3b5998;
}
.navbar {
  text-transform: uppercase;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.navbar-default .navbar-brand:hover {
  color: #0088ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  position: relative;
  color: #333;
}
.navbar-default .navbar-nav > .open > a:before,
.navbar-default .navbar-nav > .open > a:hover:before,
.navbar-default .navbar-nav > .open > a:focus:before,
.navbar-default .navbar-nav > .active > a:before,
.navbar-default .navbar-nav > .active > a:hover:before,
.navbar-default .navbar-nav > .active > a:focus:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: 3px solid #0088ff;
}
.navbar-default .navbar-nav > li > a {
  position: relative;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #0088ff;
}
.section-photo-content {
  padding-left: 30px;
  padding-right: 30px;
}
.content-photo-view {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 767px) {
  .photo-content {
    margin: -5px !important;
    margin-bottom: 25px !important;
  }
  .content-photo-view {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 560px) {
  .section-photo-content {
    padding: 1px;
  }
  .hidden-xxs {
    display: none;
  }
  .welcome-home h1 {
    font-size: 2.7em;
    margin-top: 0;
  }
  .welcome-message {
    overflow: hidden;
    text-align: center;
  }
  .photo-content {
    margin-bottom: 25px !important;
  }
}
@media (max-width: 480px) {
  .isotope-content .item {
    width: 100%;
  }
  .photo-content {
    margin-bottom: 15px !important;
  }
}
.panel-footer,
.modal-footer {
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .modal-full {
    width: 85%;
  }
}
.modal-backdrop.in {
  opacity: 0.8;
}
.photo-content {
  position: relative;
  margin: 0px;
  margin-bottom: 30px;
  overflow: hidden;
}
.photo-content:hover .photo-header {
  opacity: 1;
}
.photo-content .btn-nex-tab {
  font-size: 1.3em;
  color: #fff;
  text-shadow: 0 1px 2px #222;
  position: absolute;
  right: 15px;
  top: 10px;
}
.photo-content .photo-header {
  opacity: 0;
  transition: all 1s;
  padding: 15px;
  position: absolute;
  z-index: 99;
}
.photo-content .photo-header h4 {
  color: #fff;
  text-shadow: 0 1px 2px #222;
  font-size: 1.2em;
  margin: 0;
  font-weight: 300;
}
.photo-content .photo-figure:hover .photo-expand {
  opacity: 1;
}
.photo-content .photo-figure .photo-expand {
  opacity: 0;
  transition: all 1s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.photo-content .photo-figure .photo-expand span {
  position: absolute;
  top: 45%;
  left: 47%;
  font-size: 1.3em;
}
.photo-content .photo-footer {
  position: absolute;
  z-index: 99;
  bottom: 0px;
  width: 100%;
  height: 50px;
  color: #fff;
  text-shadow: 0 1px 1px #222;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.photo-content .photo-footer .photo-date {
  position: absolute;
  left: 15px;
  top: 18px;
  font-weight: 100;
}
.photo-content .photo-footer .social-actions {
  position: absolute;
  right: 15px;
  top: 18px;
}
.photo-content .photo-footer .social-actions a {
  color: #fff;
}
.photo-content .photo-footer .social-actions a:hover {
  color: #0088ff;
}
.social-actions {
  position: relative;
  top: -2px;
  z-index: 99;
}
.social-actions span {
  position: relative;
  right: -10px;
}
.social-actions a {
  cursor: pointer;
  margin-left: 15px;
  font-size: 1.1em;
  color: #888;
  text-decoration: none;
}
.social-actions a:hover {
  color: #0088ff;
}
#footer-page {
  margin-top: 10px;
  margin-bottom: -20px;
  padding: 30px 0;
  background: #121212;
  color: #999;
}
.social-footer {
  position: absolute;
  top: -7px;
  right: 20px;
}
.social-footer a {
  color: #ccc;
  font-size: 1.7em;
  margin-left: 20px;
  display: inline-block;
}
